.badge {
  background-color: tomato;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  width: 26px;
  height: 26px;
  border-radius: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 600;
}
